.welcome{
    text-align: center;
    background: url("images/1.webp") no-repeat center center fixed;
    color: white;
    -webkit-background-size: cover;
   -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

}

@font-face {
  font-family: "VarelaRound";
  src: url("fonts/VarelaRound-Regular.ttf")
  format("truetype");
}


p#first{
  font-family: "VarelaRound";
  margin = 0;
}

p#title{
  font-family: arial;
  font-weight: bold;
  font-size: 500%;
  padding: 0;
  margin = 0;
}
p#intro{
  font-family: "VarelaRound";
  font-weight: italic;
  margin = 0;
}

input[type=text], select, textarea {
  width: 60%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: rgb(182, 106, 226);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rgb(134, 81, 188);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.additional{
  text-align: center;
  font-family: "VarelaRound";
}

h2 {
  text-align: center;
  font-family: "VarelaRound";
}


.first_part{
    text-align: center;
    font-family: "VarelaRound";
}
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(182, 106, 226);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

.loader {
	position: center; margin: auto; border: 16px solid #f3f3f3; border-top: 16px solid #396cae;
    border-radius: 50%; width: 60px; height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.reflection {
  text-align: center;
  font-family: "VarelaRound";
  background-color: rgb(184, 184, 184);
  width: auto;
  margin: 0 70px 0 70px;
}



